In [196]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [197]:
import numpy as np

import pandas as pd

import matplotlib.pyplot as plt


import seaborn as sns


from plotly import graph_objects as go


from plotly import express as exp


import datetime as dt


from joblib import dump, load


# !pip install pymongo[srv] --quiet


# !pip install dnspython --quiet


import pymongo


import requests

In [198]:
data = requests.get(
    
    "https://data.sfgov.org/resource/wg3w-h783.json?"
    

    
    "$query=SELECT * WHERE (incident_year >= '2013') LIMIT 999999999" 

)



response = data.json()

In [199]:
crime_df = pd.DataFrame(response)

In [200]:
crime_df.shape

(693201, 26)

In [201]:
crime_df.head(5)

,incident_datetime,incident_date,incident_time,incident_year,incident_day_of_week,report_datetime,row_id,incident_id,incident_number,report_type_code,...,resolution,police_district,cad_number,intersection,cnn,analysis_neighborhood,supervisor_district,latitude,longitude,point
0,2021-07-25T00:00:00.000,2021-07-25T00:00:00.000,00:00,2021,Sunday,2021-07-25T13:41:00.000,105718906372,1057189,216105573,II,...,Open or Active,Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-06-28T23:58:00.000,2022-06-28T00:00:00.000,23:58,2022,Tuesday,2022-06-28T23:58:00.000,116554371012,1165543,220264913,VS,...,Open or Active,Out of SF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-03-11T10:30:00.000,2022-03-11T00:00:00.000,10:30,2022,Friday,2022-03-11T20:03:00.000,113048071000,1130480,226040232,II,...,Open or Active,Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-05-15T17:47:00.000,2021-05-15T00:00:00.000,17:47,2021,Saturday,2021-05-15T17:47:00.000,103051807043,1030518,210183345,VS,...,Open or Active,Out of SF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-06-28T17:22:00.000,2022-06-28T00:00:00.000,17:22,2022,Tuesday,2022-06-28T17:22:00.000,116535107041,1165351,220361741,VS,...,Open or Active,Out of SF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [202]:
crime_df["incident_datetime"] = crime_df.incident_datetime.apply(lambda x: dt.datetime.strptime(x, "%Y-%m-%dT%H:%M:%S.%f"))

In [203]:
crime_df["report_datetime"] = crime_df.report_datetime.apply(lambda x: dt.datetime.strptime(x, "%Y-%m-%dT%H:%M:%S.%f"))

In [204]:
crime_df["incident_date"] = crime_df.incident_date.apply(lambda x: dt.datetime.strptime(x, "%Y-%m-%dT%H:%M:%S.%f"))

In [205]:
crime_df.incident_date.min()

Timestamp('2018-01-01 00:00:00')

In [206]:
crime_df.incident_date.max()

Timestamp('2023-02-09 00:00:00')

In [207]:
crime_df['incident_hour'] = crime_df.incident_time.apply(lambda x: int(x.split(":")[0].strip()))

In [208]:
crime_df["incident_month"] = crime_df.incident_date.apply(lambda x: dt.datetime.strftime(x, "%m"))

In [209]:
crime_df['incident_year'] = crime_df.incident_year.apply(lambda x: int(x))

In [210]:
pd.DataFrame(crime_df.dtypes)

                                      0
incident_datetime        datetime64[ns]
incident_date            datetime64[ns]
incident_time                    object
incident_year                     int64
incident_day_of_week             object
report_datetime          datetime64[ns]
row_id                           object
incident_id                      object
incident_number                  object
report_type_code                 object
report_type_description          object
filed_online                     object
incident_code                    object
incident_category                object
incident_subcategory             object
incident_description             object
resolution                       object
police_district                  object
cad_number                       object
intersection                     object
cnn                              object
analysis_neighborhood            object
supervisor_district              object
latitude                         object
longitude                        object
point                            object
incident_hour                     int64
incident_month                   object

In [211]:
round((crime_df['latitude'].isna().sum() / len(crime_df.latitude)) * 100, 2)

5.31

In [212]:
crime_df['latitude'] = crime_df.latitude.astype(float)

crime_df['longitude'] = crime_df.longitude.astype(float)

In [213]:
crime_df = crime_df.reindex(columns = ['incident_datetime',
 'incident_date',
 'incident_time',
 'incident_month',
 'incident_hour',
 'incident_year',
 'incident_day_of_week',
 'report_datetime',
 'row_id',
 'incident_id',
 'incident_number',
 'report_type_code',
 'report_type_description',
 'filed_online',
 'incident_code',
 'incident_category',
 'incident_subcategory',
 'incident_description',
 'resolution',
 'police_district',
 'cad_number',
 'intersection',
 'cnn',
 'analysis_neighborhood',
 'supervisor_district',
 'latitude',
 'longitude',
 'point'])

In [214]:
cols = crime_df.columns.values.tolist()


nan_col_dict = {}


for col in cols:
    
    
    nan_col_dict[col] = round((crime_df[col].isna().sum() / len(crime_df[col])) * 100, 2)

In [215]:
col_nan_df = pd.json_normalize(nan_col_dict).transpose().reset_index().rename({0: "value", "index": "column"}, axis = 1).sort_values(by = "value", ascending = False)


exp.bar(col_nan_df, x = "column", y = "value", )

In [216]:
crime_df.head(3)

,incident_datetime,incident_date,incident_time,incident_month,incident_hour,incident_year,incident_day_of_week,report_datetime,row_id,incident_id,...,resolution,police_district,cad_number,intersection,cnn,analysis_neighborhood,supervisor_district,latitude,longitude,point
0,2021-07-25 00:00:00,2021-07-25,00:00,07,0,2021,Sunday,2021-07-25 13:41:00,105718906372,1057189,...,Open or Active,Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-06-28 23:58:00,2022-06-28,23:58,06,23,2022,Tuesday,2022-06-28 23:58:00,116554371012,1165543,...,Open or Active,Out of SF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-03-11 10:30:00,2022-03-11,10:30,03,10,2022,Friday,2022-03-11 20:03:00,113048071000,1130480,...,Open or Active,Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [217]:
crime_df[crime_df.incident_category == "Larceny Theft"].groupby(['incident_category', 'incident_subcategory']).agg({"incident_id": pd.Series.count}).sort_values(by = "incident_id", ascending = False).head(20)

                                                 incident_id
incident_category incident_subcategory
Larceny Theft     Larceny - From Vehicle              120018
                  Larceny Theft - Other                48695
                  Larceny Theft - Shoplifting          13377
                  Larceny Theft - From Building        11390
                  Theft From Vehicle                   10385
                  Larceny Theft - Bicycle               2541
                  Larceny - Auto Parts                  2513
                  Larceny Theft - Pickpocket            2328
                  Larceny Theft - Purse Snatch           130

In [218]:
larceny_df = crime_df[crime_df.incident_category == "Larceny Theft"]

In [219]:
lar_df = larceny_df.replace("Theft From Vehicle", "Larceny - From Vehicle")

In [220]:
lar_df.groupby("incident_subcategory").agg({"incident_id": pd.Series.count}).sort_values(by = "incident_id", ascending = False)

                               incident_id
incident_subcategory
Larceny - From Vehicle              130403
Larceny Theft - Other                48695
Larceny Theft - Shoplifting          13377
Larceny Theft - From Building        11390
Larceny Theft - Bicycle               2541
Larceny - Auto Parts                  2513
Larceny Theft - Pickpocket            2328
Larceny Theft - Purse Snatch           130

In [221]:
# filed_online, cad_number, supervisor_district, analysis_neighborhood, cnn, intersection


crime_df = crime_df.drop(columns = ['filed_online', 'cad_number', 'supervisor_district', 'analysis_neighborhood', 'cnn', 'intersection'])


lar_df = lar_df.drop(columns = ['filed_online', 'cad_number', 'supervisor_district', 'analysis_neighborhood', 'cnn', 'intersection'])

In [222]:
# crime_df = crime_df.dropna(how = 'any', axis = 0)


# lar_df = lar_df.dropna(how = 'any', axis = 0)

In [223]:
lar_df.shape, crime_df.shape

((211377, 22), (693201, 22))

In [224]:
lar_df.head(5)

,incident_datetime,incident_date,incident_time,incident_month,incident_hour,incident_year,incident_day_of_week,report_datetime,row_id,incident_id,...,report_type_description,incident_code,incident_category,incident_subcategory,incident_description,resolution,police_district,latitude,longitude,point
0,2021-07-25 00:00:00,2021-07-25,00:00,07,0,2021,Sunday,2021-07-25 13:41:00,105718906372,1057189,...,Coplogic Initial,06372,Larceny Theft,Larceny Theft - Other,"Theft, Other Property, $50-$200",Open or Active,Southern,NaN,NaN,NaN
6,2022-06-28 14:00:00,2022-06-28,14:00,06,14,2022,Tuesday,2022-06-28 15:09:00,116546206244,1165462,...,Coplogic Initial,06244,Larceny Theft,Larceny - From Vehicle,"Theft, From Locked Vehicle, >$950",Open or Active,Richmond,NaN,NaN,NaN
7,2022-08-07 22:00:00,2022-08-07,22:00,08,22,2022,Sunday,2022-08-16 15:26:00,118277206374,1182772,...,Coplogic Initial,06374,Larceny Theft,Larceny Theft - Other,"Theft, Other Property, >$950",Open or Active,Richmond,NaN,NaN,NaN
12,2022-06-23 00:00:00,2022-06-23,00:00,06,0,2022,Thursday,2022-06-28 00:03:00,116550406224,1165504,...,Coplogic Initial,06224,Larceny Theft,Larceny - From Vehicle,"Theft, From Unlocked Vehicle, >$950",Open or Active,Mission,NaN,NaN,NaN
14,2021-09-28 20:00:00,2021-09-28,20:00,09,20,2021,Tuesday,2021-09-30 09:41:00,107641306244,1076413,...,Coplogic Initial,06244,Larceny Theft,Larceny - From Vehicle,"Theft, From Locked Vehicle, >$950",Open or Active,Central,NaN,NaN,NaN

In [225]:
lar_df.columns.values.tolist()

['incident_datetime',
 'incident_date',
 'incident_time',
 'incident_month',
 'incident_hour',
 'incident_year',
 'incident_day_of_week',
 'report_datetime',
 'row_id',
 'incident_id',
 'incident_number',
 'report_type_code',
 'report_type_description',
 'incident_code',
 'incident_category',
 'incident_subcategory',
 'incident_description',
 'resolution',
 'police_district',
 'latitude',
 'longitude',
 'point']

In [226]:
lar_df = lar_df[['incident_datetime',
 'incident_date',
 'incident_time',
 'incident_hour',
 'incident_month',
 'incident_year',
 'incident_day_of_week',
 'report_datetime','incident_id','incident_category',
 'incident_subcategory','resolution', 'police_district',
 'latitude',
 'longitude',]]

In [227]:
lar_df["incident_subcategory"] = lar_df.incident_subcategory.apply(lambda x: x.split("-")[1].strip())

In [228]:
lar_df.head(5)

,incident_datetime,incident_date,incident_time,incident_hour,incident_month,incident_year,incident_day_of_week,report_datetime,incident_id,incident_category,incident_subcategory,resolution,police_district,latitude,longitude
0,2021-07-25 00:00:00,2021-07-25,00:00,0,07,2021,Sunday,2021-07-25 13:41:00,1057189,Larceny Theft,Other,Open or Active,Southern,NaN,NaN
6,2022-06-28 14:00:00,2022-06-28,14:00,14,06,2022,Tuesday,2022-06-28 15:09:00,1165462,Larceny Theft,From Vehicle,Open or Active,Richmond,NaN,NaN
7,2022-08-07 22:00:00,2022-08-07,22:00,22,08,2022,Sunday,2022-08-16 15:26:00,1182772,Larceny Theft,Other,Open or Active,Richmond,NaN,NaN
12,2022-06-23 00:00:00,2022-06-23,00:00,0,06,2022,Thursday,2022-06-28 00:03:00,1165504,Larceny Theft,From Vehicle,Open or Active,Mission,NaN,NaN
14,2021-09-28 20:00:00,2021-09-28,20:00,20,09,2021,Tuesday,2021-09-30 09:41:00,1076413,Larceny Theft,From Vehicle,Open or Active,Central,NaN,NaN

In [229]:
pd.DataFrame(round((lar_df.resolution.value_counts() / len(lar_df)) * 100, 2))

                      resolution
Open or Active             96.24
Cite or Arrest Adult        3.67
Unfounded                   0.06
Exceptional Adult           0.03

In [230]:
pd.DataFrame(round((lar_df.incident_subcategory.value_counts() / len(lar_df)) * 100, 2))

               incident_subcategory
From Vehicle                  61.69
Other                         23.04
Shoplifting                    6.33
From Building                  5.39
Bicycle                        1.20
Auto Parts                     1.19
Pickpocket                     1.10
Purse Snatch                   0.06

In [231]:
pd.DataFrame(round((lar_df.incident_day_of_week.value_counts() / len(lar_df)) * 100, 2))

           incident_day_of_week
Friday                    15.84
Saturday                  15.08
Wednesday                 14.21
Monday                    13.90
Sunday                    13.89
Thursday                  13.84
Tuesday                   13.24

In [232]:
pd.DataFrame(round((lar_df.incident_hour.value_counts() / len(lar_df)) * 100, 2))

    incident_hour
18           7.51
19           7.03
12           6.79
17           6.60
20           6.31
11           5.79
16           5.57
15           5.53
13           5.52
14           5.39
21           4.87
10           4.74
0            4.56
22           3.98
9            3.42
23           3.23
8            2.82
1            2.36
7            1.69
2            1.62
6            1.31
3            1.31
4            1.04
5            1.01

In [233]:
pd.DataFrame(round((lar_df.incident_month.value_counts() / len(lar_df)) * 100, 2))

    incident_month
01            9.93
10            9.11
07            8.71
12            8.65
08            8.61
09            8.54
11            8.49
06            8.06
05            7.77
02            7.61
03            7.50
04            7.02

In [234]:
# coords = lar_df[['latitude', 'longitude']].to_numpy()


# coords

In [235]:
# from sklearn.cluster import KMeans



# def kmeans_model(input_data):
    
#     kmeans = KMeans(n_clusters = 10)


#     kmeans.fit(input_data)


#     return kmeans.labels_

In [236]:
# labels = kmeans_model(coords)

In [237]:
# coords = pd.DataFrame(coords).rename({0: "latitude", 1: "longitude"}, axis = 1)


# coords = pd.concat([coords, pd.DataFrame(labels)], axis = 1)

In [238]:
# coords = coords.rename({0: "cluster"}, axis = 1)

In [239]:

# def scatterplot(data):
    

#     sns.set_style('darkgrid')


#     sns.set_context('paper', font_scale = 1.5)


#     plt.figure(figsize = (24, 20))


#     sns.scatterplot(x = data.longitude, y = data.latitude, hue = data.cluster)


#     plt.show()
    
    

# scatterplot(coords)

In [240]:
cols = ['incident_datetime',
 'incident_time', 'report_datetime']


lar_df['incident_date'] = lar_df.incident_date.apply(lambda x: dt.datetime.strftime(x, "%Y-%m-%d"))


crime_df['incident_date'] = crime_df.incident_date.apply(lambda x: dt.datetime.strftime(x, "%Y-%m-%d"))



for col in cols:
    
    
    lar_df[col] = lar_df[col].apply(lambda x: str(x))
    
    
    crime_df[col] = crime_df[col].apply(lambda x: str(x))

In [241]:
lar_df.to_csv("./san_francisco_crimes_data_from_2018/sf_larceny_from_2018.csv", index = False)

crime_df.to_csv("./san_francisco_crimes_data_from_2018/sf_crimes_from_2018.csv", index = False)

In [242]:
crime_df.head(5)

,incident_datetime,incident_date,incident_time,incident_month,incident_hour,incident_year,incident_day_of_week,report_datetime,row_id,incident_id,...,report_type_description,incident_code,incident_category,incident_subcategory,incident_description,resolution,police_district,latitude,longitude,point
0,2021-07-25 00:00:00,2021-07-25,00:00,07,0,2021,Sunday,2021-07-25 13:41:00,105718906372,1057189,...,Coplogic Initial,06372,Larceny Theft,Larceny Theft - Other,"Theft, Other Property, $50-$200",Open or Active,Southern,NaN,NaN,NaN
1,2022-06-28 23:58:00,2022-06-28,23:58,06,23,2022,Tuesday,2022-06-28 23:58:00,116554371012,1165543,...,Vehicle Supplement,71012,Other Offenses,Other Offenses,"License Plate, Recovered",Open or Active,Out of SF,NaN,NaN,NaN
2,2022-03-11 10:30:00,2022-03-11,10:30,03,10,2022,Friday,2022-03-11 20:03:00,113048071000,1130480,...,Coplogic Initial,71000,Lost Property,Lost Property,Lost Property,Open or Active,Central,NaN,NaN,NaN
3,2021-05-15 17:47:00,2021-05-15,17:47,05,17,2021,Saturday,2021-05-15 17:47:00,103051807043,1030518,...,Vehicle Supplement,07043,Recovered Vehicle,Recovered Vehicle,"Vehicle, Recovered, Motorcycle",Open or Active,Out of SF,NaN,NaN,NaN
4,2022-06-28 17:22:00,2022-06-28,17:22,06,17,2022,Tuesday,2022-06-28 17:22:00,116535107041,1165351,...,Vehicle Supplement,07041,Recovered Vehicle,Recovered Vehicle,"Vehicle, Recovered, Auto",Open or Active,Out of SF,NaN,NaN,NaN